.basic-header {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--color-black-li);
    margin: 0 0 16px 0;
}
.basic-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-black-li);
}
.swiper {
    overflow: hidden;
    width: 100%;
    max-width: 1150px;
    margin: 0;
    padding-top: 85px;
}