a {
    cursor: pointer;
}
.catalog {
    padding: 80px 0;
}
.catalog__txt {
    max-width: 1082px;
    margin-bottom: 38px;
}
.catalog__content {
    overflow: hidden;
    visibility: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
}
.catalog-cnt--active .catalog__content {
    visibility: visible;
}
.catalog__lst {
    list-style-type: none;
    padding: 0;
    flex: 1 1 50%;
    margin-left: 50px;
}
.accordion__heading {
    margin: 0;
}
.catalog__item {
    position: relative; 
    width: 100%;
}
.catalog__btn {
    position: relative;
    cursor: pointer;
    width: 100%;
    border: none;
    color: #333;
    font-weight: 600;
    border-top: 1px solid var(--color-grey-ca);
    border-bottom: 1px solid var(--color-grey-ca);
    background-color: var(--color-white);
    font-size: 24px;
    line-height: 32px;
    padding: 40.5px 0;
    text-align: left;
    transition: border-color .2s ease-in-out, color .2s ease-in-out;
    -o-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    -ms-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    -webkit-transition: border-color .2s ease-in-out, color .2s ease-in-out;
}
.catalog__btn:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.catalog__open {
    position: absolute;
    top: 32px;
    bottom: 32px;
    right: 0;
    transform: rotate(270deg);
    transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
}
.catalog__open path:not(:last-child) {
    stroke: var(--color-grey-ec);
}
.catalog__open path {
    fill: var(--color-grey-ec);
    transition: fill .2s ease-in-out, stroke .2s ease-in-out;
    -o-transition: fill .2s ease-in-out, stroke .2s ease-in-out;
    -ms-transition: fill .2s ease-in-out, stroke .2s ease-in-out;
    -moz-transition: fill .2s ease-in-out, stroke .2s ease-in-out;
    -webkit-transition: fill .2s ease-in-out, stroke .2s ease-in-out;
}
.catalog__btn:hover:not(:focus):not(:active) .catalog__open path {
    fill: var(--color-pink-li);
}
.catalog__item-txt {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
.catalog__btn:focus:not(:hover):not(:active) .catalog__item-txt {
    color: var(--color-white);
}
.catalog__btn:focus:not(:hover):not(:active) .catalog__open path {
    fill: var(--color-pink-li);
}
.catalog__btn:focus:not(:hover):not(:active) .catalog__item-txt {
    background-color: var(--color-violet-li);
}
.catalog__btn:active {
    border-color: var(--color-violet);
}
.catalog__btn:active .catalog__item-txt {
    color: var(--color-violet);
}
.catalog__btn:active .catalog__open path {
    fill: var(--color-pink-li);
}
.catalog__btn:active .catalog__open path:not(:last-child) {
    stroke: var(--color-violet);
}
.catalog--active .catalog__open {
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.catalog__btn:hover:not(:focus):not(:active) {
    border-color: var(--color-violet-li);
}
.catalog__btn:hover:not(:focus):not(:active) .catalog__item-txt {
    color: var(--color-violet-li);
}
.catalog__paint {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    padding: 25px 0;
}
.catalog__painters {
    width: 196px;
    border-bottom: 1px solid transparent;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
}
.catalog__painters:hover:not(:focus):not(:active) {
    border-color: var(--color-violet-li);
}
.catalog__painters:focus:not(:hover):not(:active) {
    background-color: var(--color-violet-li);
}
.catalog__tab {
    display: flex;
}
.catalog__tabs {
    display: inline-block;
    flex: 1 1 46.875%;
}
.catalog__tabs-item {
    display: none;
}
.catalog__tabs-item--active {
    display: inline-block;
    animation: fadeInFromNone .5s ease-in-out;
}
.catalog-cnt--active svg {
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.catalog__tabs-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--color-black-li);
    margin: 20px 0 7px 0;
}
.catalog__tabs-head {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-black-li);
    margin-bottom: 3px;
}
.catalog__tabs-txt {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-li);
}
.catalog__tabs-info {
    margin: 4px 0 0 0;
    max-width: 750px;
}
.catalog__tabs-text {
    line-height: 22px;
    margin-bottom: 5px;
    max-width: 275px;
}
.catalog__tabs-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-violet-li);
    margin-top: 15px;
}
.link-margin {
    margin-bottom: 15px;
}
.header-margin {
    margin-top: 30px;
}
.catalog__tabs-img {
    width: 100%;
    aspect-ratio: 1 / 0.62666666667;
    object-fit: cover;
}
.catalog__content-block {
    display: flex;
    padding: 37px 0;
    align-items: center;
}
.link-margin {
    margin-top: 5px;
}
.catalog__content-bg {
    position: relative;
    flex-grow: 1;
    max-width: 275px;
    height: 189px;
    background-color: transparent;
    border: 2px solid var(--color-grey-li);
    margin-right: 24px;
}
.catalog__content-bg:before {
    position: absolute;
    content: '';
    width: 90.9090%;
    height: 87.301%;
    left: 4.3636%;
    top: 6.349%;
    background-color: var(--color-grey-li)
}
