.footer {
    display: flex;
    align-items: center;
    min-height: 140px;
    width: 100%;
    background-color: var(--color-black);
}
.footer__cnt {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.footer__lst {
    display: flex;
}
.footer__link-first {
    margin-right: 20px;
    margin-left: auto;
}
.footer__svg path {
    transition: fill .2s ease-in-out;
    -o-transition: fill .2s ease-in-out;
    -ms-transition: fill .2s ease-in-out;
    -moz-transition: fill .2s ease-in-out;
    -webkit-transition: fill .2s ease-in-out;
}
.footer__link:hover:not(:focus):not(:active) .footer__svg path, .footer__link:focus:not(:hover):not(:active) .footer__svg path {
    fill: var(--color-white);
}
.footer__link:active .footer__svg path {
    fill: var(--color-violet-li);
}