.form {
    border-top: 1px solid var(--color-grey-ca);
    border-bottom: 1px solid var(--color-grey-ca);
}
.form__cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 154px;
}
.form__header {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-black-li);
    margin: 0;
}
.form__txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-black-li);
    margin: 0;
}
.form__elem {
    max-width: 909px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.form__input {
    border: 1px solid var(--color-black-li);
    outline: none;
    border-radius: 100px;
    flex-grow: 1;
    max-width: 270px;
    height: 50px;
    padding: 9px 24px;
    transition: background-color .1s ease-in-out;
    -o-transition: background-color .1s ease-in-out;
    -ms-transition: background-color .1s ease-in-out;
    -moz-transition: background-color .1s ease-in-out;
    -webkit-transition: background-color .1s ease-in-out;
    margin-right: 20px;
}
.form__input:focus:not(:hover):not(:active), .form__input:hover:not(:focus):not(:active) {
    background-color: #ECECEC;
}
.form__btn {
    position: relative;
    cursor: pointer;
    padding: 10.5px 35px;
    border: 2px solid var(--color-violet-li);
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-violet-li);
    background-color: var(--color-white);
    transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
    flex-shrink: 0;
}
.form__btn-sec {
    display: none;
    padding: 10px 33.5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-violet-li);
    border: 2px solid var(--color-violet-li);
    background-color: var(--color-white);
    transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
}
.form__btn:hover:not(:focus):not(:active), .form__btn-sec:hover:not(:focus):not(:active) {
    color: var(--color-white);
    background-color: var(--color-violet-li);
}
.form__btn:focus:not(:hover):not(:active)::before, .form__btn-sec:focus:not(:hover):not(:active)::before {
    content: "";
    position: absolute;
    top: -14%;
    left: -2.5%;
    width: 104%;
    height: 120%;
    border-radius: 100px;
    border: 2px solid var(--color-pink);
}
.form__btn:active, .form__btn-sec:active {
    color: var(--color-white);
    background-color: var(--color-violet);
    box-shadow: inset 0 0 0 3px var(--color-violet); 
}
.is-invalid {
    border: 1px solid #D11616;
}
.just-validate-error-label[data-tooltip=true][style] {
    background: transparent;
    color: #D11616;
    padding: 0;
    transform: translate(170px,-30px);
    -o-transform: translate(170px,-30px);
    -ms-transform: translate(170px,-30px);
    -moz-transform: translate(170px,-30px);
    -webkit-transform: translate(170px,-30px);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.just-validate-error-label[data-tooltip=true]:before {
    content: none;
}
.form__header {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-black-li);
    margin: 0 0 6px 0;
}
.form__whatsapp {
    margin-right: 17px;
}
.form__telegram, .form__whatsapp {
    border-radius: 50%;
    transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}
.form__link:hover:not(:focus):not(:active) svg {
    opacity: .3;
}
.form__link:focus:not(:hover):not(:active) svg {
    opacity: .3;
}
.form__link:active svg {
    border: 1px solid var(--color-violet-li);
}
@media(max-width: 1024px) {
    .form {
        padding: 43px 0;
    }
    .form__elem {
        justify-content: normal;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0 0 30px 0;

    }
    .form__header {
        margin-bottom: 10px;
    }
    .form__txt {
        margin-bottom: 30px;
    }
}
@media(max-width: 768px) {
    .form__txt {
        line-height: 19px;
        font-size: 14px;
    }
    .form__input {
        max-width: none;
    }
    .form__input:nth-child(2) {
        margin-right: 0;
    }
    .form__btn {
        margin-top: 12px;
        padding: 10px 28px;
        flex-shrink: 1;
    }
    .form__header {
        margin-bottom: 8px;
    }
}
@media(max-width: 338px) {
    .form {
        border: none;
        padding-top: 51px;
        padding-bottom: 17px;
    }
    .form__header {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 7px;
    }
    .form__txt {
        margin-bottom: 20px;
    }
    .form__input {
        height: auto;
        margin: 0;
        margin-bottom: 20px;
        padding-top: 9.6px;
        padding-bottom: 9.6px;
        flex-shrink: 1;
    }
    .form__btn {
        display: none;
    }
    .form__btn-sec {
        display: block;
        border-radius: 100px;
    }
    .form__elem {
        margin-bottom: 24px;
    }
    .form__whatsapp, .form__telegram {
        width: 50px;
        height: 50px;
    }
}