.gallery {
    background-image: url("../img/gallery-bg.png");
    background-size: cover;
    padding: 80px 0;
}
.gallery__cnt {
    display: flex;
}
.gallery__left {
    display: flex;
    min-width: 200px;
    max-width: 400px;
    flex-grow: 1;
    margin-right: 30px;
    flex-direction: column;
}
.gallery__left-header {
    color: var(--color-white);
}
.gallery__left-txt {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-white);
    margin: 0 0 10px 0;
}
.gallery__left-tem:hover, .gallery__left-tem:active {
    background-color: var(--color-white-tran-ex);
}
.gallery__left-btn {
    display: flex;
    background-image: url("../img/hero-open.svg");
    background-position: top 20px right 15px;
    background-repeat: no-repeat;
    border-radius: 6px;
}
.gallery__left-lst {
    display: none;
    flex-direction: column;
    opacity: 0;
    transition: all 2s linear;
    -o-transition: all 2s linear;
    -ms-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
}
.gallery__left-lst:hover {
    opacity: 1;
}
.gallery__left-lst--active {
    display: flex;
    opacity: 1;
}
.gallery__left-lst .gallery__left-item:first-child {
    border-radius: 6px 6px 0 0;
}
.gallery__left-lst .gallery__left-item:last-child {
    border-radius: 0 0 6px 6px;
}
.choices__inner {
    width: 100%;
    background-color: transparent;
    border-radius: 6px;
}
.choices__item {
    font-size: 16px;
}
.is-selected {
    display: none;
}
.choices__placeholder {
    color: var(--color-white);
    opacity: 1;
}
.gallery__left-cnt {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 7px;
}
.gallery__left-check {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 14px;
    padding-left: 26px;
    color: var(--color-white);
    transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
}
.gallery__left-input {
    position: absolute;
    color: var(--white);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.gallery__left-margin {
    margin: 0;
}
.gallery__left-box {
    position: absolute;
    height: 12px;
    width: 12px;
    margin-left: -25px;
    margin-top: 3px;
    border: 1px solid var(--color-white);
    background-image: none;
    transition: border-color .2s ease-in-out;
    -o-transition: border-color .2s ease-in-out;
    -ms-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    -webkit-transition: border-color .2s ease-in-out;
}
.gallery__left-input:hover + span {
    border-color: var(--color-pink);  
}
.gallery__left-input:checked + span {
    border-color: var(--color-pink); 
    background-image: url("../img/el-checkbox.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.gallery__left-check:focus-within {
    color: var(--color-pink);
}
.gallery__left-input:focus + span {
    border-color: var(--color-pink);
}
.gallery__right {
    width: 100%;
    max-width: 71.875%;
    margin-left: auto;
}
.swiper-container {
    width: 600px;
    height: 300px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    display: none;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    display: none;
}
:root {
    --swiper-theme-color: var(--color-black);
}
.gallery__right-swiper-slide__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__right-swiper-button-prev, 
.gallery__right-swiper-button-next {
    height: auto;
}

.swiper-button-prev {
    left: 3px;
}
.gallery__right-swiper-button-next, .gallery__right-swiper-button-prev {
    width: 30px;
    height: 30px;
    font-size: 1px;
    top: 45px;
}
.choices__item {
    font-style: 16px;
}
.gallery__right-swiper-prev-svg, .gallery__right-swiper-next-svg {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: var(--color-grey);
    transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.gallery__right-swiper-prev-svg:focus:not(:hover):not(:active), .gallery__right-swiper-next-svg:focus:not(:hover):not(:active),
.gallery__right-swiper-prev-svg:active, .gallery__right-swiper-next-svg:active {
    box-shadow: inset 0 0 0 2px var(--color-black);
}
.gallery__right-swiper-prev-svg:hover:not(:focus):not(:active), .gallery__right-swiper-next-svg:hover:not(:focus):not(:active) {
    background-color: var(--color-violet-li);
}
.gallery__right-swiper-prev-svg:active, .gallery__right-swiper-next-svg:active {
    background-color: var(--color-violet);
}
.gallery__right-swiper-prev-svg:before {
    content: url("../img/stroke.svg");
    position: absolute;
    top: 9px;
    left: 10px;
}
.gallery__right-swiper-next-svg:before {
    content: url("../img/stroke.svg");
    position: absolute;
    top: 9px;
    left: 13px;
}
.gallery__right-swiper-next-svg::before {
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.swiper-button-next {
    top: 45px;
    left: 103px;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .5;
}
.swiper-slide__btn {
    position: relative;
    display: block; 
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;
    transition: box-shadow .2s ease-in-out, opacity .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out, opacity .2s ease-in-out;
    -ms-transition: box-shadow .2s ease-in-out, opacity .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out, opacity .2s ease-in-out;
    -webkit-transition: box-shadow .2s ease-in-out, opacity .2s ease-in-out;
    border: none;
}
.swiper-slide__btn::before {
    display: block;
    content: '';
    position: absolute;
    top: 7.142859644%;
    left: 7.142859644%;
    right: 7.142859644%;
    bottom: 7.142859644%;   
    width: 85.71428571%;
    height: 85.71428571%;
    opacity: 0;
    background: url("../img/gal-photo-search.svg") center no-repeat, rgba(0, 0, 0, 0.5);
    transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}
.swiper-slide__btn:focus:not(:hover):not(:active):before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    box-shadow: inset 0 0 0 3px var(--color-violet);
    opacity: 1;
}
[data-choice-disabled] {
    display: none;
}
.swiper-slide__btn:hover:not(:focus):not(:active)::before {
    opacity: 1;
}
.gallery__right-swiper-slide {
    aspect-ratio: 1 / 1;
}
.gallery__right-swiper-slide:active {
    background-color: rgba(194, 131, 243, 0.4);
}
.gallery__right-swiper-slide__btn:active::before {
    opacity: 1;
}
.gallery__right-swiper-slide:active:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 131, 243, 0.4);
}
.hidden {
    overflow: hidden;
}
.swiper-pagination-fraction {
    position: absolute;
    display: table;
    width: auto;
    color: var(--color-white);
    left: 52px;
    top: 30px;
}
.swiper-modal__header {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--color-black-li);
    margin-bottom: 5px;
}
.swiper-modal__header-sec {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black-li);
}
.swiper-modal__span {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-li);
}
.swiper-modal__txt {
    line-height: 22px;
    margin-top: 39px;
}
.swiper-modal__item {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.swiper-modal__block {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.swiper-slide__modal--active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 1;
    opacity: 1;
    animation: fadeInFromNone .2s ease-in-out;
    background-color: var(--color-black-tran-ex);
    overflow-y: auto;
}
.swiper-modal__content {
    position: relative;
    display: flex;
    max-width: 900px;
    background-color: var(--color-white);
    box-shadow: 0px 0px 80px var(--color-black-tran);
}
.swiper-modal__block-txt {
    width: 500px;
    padding: 121px 49px;
}
.swiper-modal__block-img {
    width: 400px;
}
.swiper-modal__block-close {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 15px;
}
.swiper-modal__block-close:before {
    position: fixed;
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}
@media(max-width: 1024px) {
    .gallery__right {
        max-width: 64.21%;
    }
    .gallery__left-cnt {
        margin-bottom: 24px;
    }
    .gallery__left-check {
        padding-left: 25px;
    }
    .gallery__left {
        max-width: 280px;
    }
    .choices__list--single {
        padding-left: 6px;
    }
    .gallery__right-swiper-slide {
        aspect-ratio: 1 / 1.125;
    }
    .swiper-modal__content {
        max-width: 594px;
        z-index: 1;
    }
    .swiper-modal__block-img {
        width: 264px;
        object-fit: cover;
    }
}
@media(max-width: 768px) {
    .gallery__cnt {
        flex-direction: column;
    }
    .choices {
        margin-bottom: 45px;
    }
    .gallery__right {
        max-width: 100%;
    }
    .gallery__right-swiper-button-prev {
        left: 0;
    }
    .swiper-pagination-fraction {
        left: 48px;
    }
    .gallery__right-swiper-slide {
        aspect-ratio: 1 / 1.0476190476;
    }
    .gallery__right-swiper-button-next {
        left: 100px;
    }
    .swiper-modal__content {
        max-width: 668px;
    }
    .swiper-modal__block-img {
        width: 300px;
    }
    .swiper-modal__block-txt {
        padding: 122px 36px 122px 50px;
    }
    .swiper-slide__modal--active {
        overflow: auto;
    }
}
@media(max-width: 338px) {
    .gallery__left-header {
        font-size: 28px;
        line-height: 38px;
    }
    .gallery {
        padding: 50px 0;
    }
    .gallery__left {
        margin-right: 0;
        max-width: none;
        margin-bottom: 12px;
    }
    .gallery__left-header {
        margin-bottom: 12px;
    }
    .gallery__left-txt {
        margin-bottom: 5px;
    }
    .choices {
        margin-bottom: 37px;
    }
    .swiper-modal__content {
        max-width: 290px;
        flex-direction: column;
    }
    .swiper-modal__block-img {
        width: 100%;
        height: 200px;
    }
    .swiper-modal__block-txt {
        width: 100%;
        padding: 17px 21px 94px 20px;
    }
    .swiper-modal__txt {
        margin-top: 12px;
    }
    .gallery__right-swiper-slide {
        aspect-ratio: 1 / 1.2655172414;
    }
    .gallery__right-swiper-button-prev, .gallery__right-swiper-button-next {
        top: auto;
        bottom: 0;
    }
    .gallery__right-swiper-wrapper {
        margin-bottom: 20px;
    }
    .gallery__right-swiper-button-prev, .gallery__right-swiper-button-next, .swiper-pagination-fraction {
        position: initial;
        display:inline-block;
        margin: 0;
    }
    .gallery__right-swiper {
        padding: 0;
    }
    .gallery__pagination {
        display: flex;
        justify-content: space-between;
        height: 30px;
        align-items: center;
        max-width: 130px;
        margin: auto;
    }
}