ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}
.dropdown {
    background-color: var(--color-black-tran-ex);
    width: 300px;
    padding: 40px 20px 40px 40px;
    position: absolute;
    top: 51px;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
}
.dropdown.dropdown__active {
    visibility: visible;
    opacity: 1;
}
.dropdown__simplebar {
    max-height: 220px;
    padding-right: 20px;
}
.dropdown__item {
    display: flex;
    position: relative;
    cursor: pointer;
    min-height: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
}
.dropdown__txt {
    z-index: 4;
    width: 100%;
    padding: 10.5px 0 10.5px 14px;
    color: var(--color-white);
    font-weight: 600;
    transition: box-shadow .2s ease-in-out;
}
.hero__menu-svg--active {
    transform: rotate(180deg);
}
.dropdown__txt:hover:not(:focus):not(:active), .dropdown__txt:focus:not(:hover):not(:active) {
    box-shadow: inset 0 0 0px 2px var(--color-violet-li);
}
.dropdown__txt:active {
    background-color: var(--color-pink-tran);
    box-shadow: inset 0 0 0px 2px var(--color-pink-li);
}
.dropdown__item:last-child {
    margin-bottom: 0px;
}

.dropdown__simplebar .simplebar-track.simplebar-vertical {
    background-color: var(--color-black);
    width: 2px;
}
.dropdown__simplebar .simplebar-scrollbar {
    width: 2px;
    height: 28px;
    background-color: var(--color-white);
}
.hero__cnt {
    display: flex;
    min-height: 70px;
}
.hero__menu {
    display: flex;
    min-width: 670px;
    max-width: 1037px;
    width: 100%;
    justify-content: space-between;
    margin-right: auto;
}
.hero__menu-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 18.5px;
    margin-bottom: 18.5px;
    transition: color .3s ease-in-out;
}
.hero__menu-item:hover:not(:focus):not(:active) .hero__menu-btn {
    color: var(--color-violet-li);
}
.hero__menu-item:hover:not(:focus):not(:active) svg path {
    stroke: var(--color-violet-li);
}
.hero__menu-item:active .hero__menu-btn {
    color: var(--color-violet);
}
.hero__menu-item:active svg path {
    stroke: var(--color-violet);
}
.hero__menu-item::before {
    content: '';
    position: absolute;
    top: -7%;
    left: -5%;
    width: 110%;
    height: 114%;
}
.hero__menu-cnt {
    z-index: 1;
    padding-left: 4px;
}
.hero__menu-svg {
    transition: transform .2s ease-in-out;
}
.hero__header path{
    z-index: 5;
    transition: stroke .2s ease-in-out;
}
.hero__menu-btn {
    position: relative;
    background-color: transparent;
    border: none;
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
.hero__menu-item:focus-within:not(:hover):not(:active)::before {
    background-color: var(--color-violet);
    z-index: 0;
}   
.hero__menu .hero__menu-item:last-child {
    margin-right: 0;
}
.hero__form {
    display: flex;
    align-items: center;
}
.hero__search {
    width: 218px;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-white-tran);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-white-tran);
    margin-left: 9px;
    outline: none;
}
.hero__search::placeholder {
    color: var(--color-white-tran);
}
.hero__search:focus {
    border-color:  var(--color-pink);
}
.hero__search:hover {
    border-color: var(--color-pink);
}
.hero__search:focus::placeholder {
    color: transparent;
}
.hero-cnt {
    display: flex;
    align-items: center;
    min-height: 70px;
}
.hero {
    position: relative; 
    background-size: cover;
    background-repeat: no-repeat;
}
.hero__swiper-slide:nth-child(1) {
    background: url("../img/img-hero-1.png"), var(--color-grey-ca);
    background-size: cover;
}
.hero__swiper-slide:nth-child(2) {
    background: url("../img/img-hero-2.png"), var(--color-grey-ca);
    background-size: cover;
}
.hero__swiper-slide:nth-child(3) {
    background: url("../img/img-hero-3.png"), var(--color-grey-ca);
    background-size: cover;
}
.hero__swiper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    z-index: -1;
}
.hero__swiper-slide {
    width: 100%;
    height: 100%;
}

@media(max-width: 1230px) {
    .last-drop {
        right: 0;
    }
}

.dropdown__item_1 {
    background-image: url("../img/hero-lst-1.png");
} 
.dropdown__item_2 {
    background-image: url("../img/hero-lst-2.png");
}
.dropdown__item_3 {
    background-image: url("../img/hero-lst-3.png");
}
.dropdown__item_4 {
    background-image: url("../img/hero-lst-4.png");
}
.dropdown__item_5 {
    background-image: url("../img/hero-lst-5.png");
}
.dropdown__item_6 {
    background-image: url("../img/hero-lst-6.png");
}
.dropdown__item_7 {
    background-image: url("../img/hero-lst-7.png");
}
.dropdown__item_8 {
    background-image: url("../img/hero-lst-8.png");
}
.dropdown__item_9 {
    background-image: url("../img/hero-lst-9.png");
}
.dropdown__item_10 {
    background-image: url("../img/hero-lst-10.png");
}
.dropdown__item_11 {
    background-image: url("../img/hero-lst-11.png");
}
.dropdown__item_12 {
    background-image: url("../img/hero-lst-12.png");
}
.dropdown__item_13 {
    background-image: url("../img/hero-lst-13.png");
}
.dropdown__item_14 {
    background-image: url("../img/hero-lst-14.png");
}
.dropdown__item_15 {
    background-image: url("../img/hero-lst-15.png");
}
.dropdown__item_16 {
    background-image: url("../img/hero-lst-16.png");
}
.dropdown__item_17 {
    background-image: url("../img/hero-lst-17.png");
}
.dropdown__item_18 {
    background-image: url("../img/hero-lst-18.png");
}
.dropdown__item_19 {
    background-image: url("../img/hero-lst-19.png");
}
.dropdown__item_20 {
    background-image: url("../img/hero-lst-20.png");
}
button[value="Найти"] {
    cursor: pointer;
    width: 22px;
    height: 22px;
    background-image: url("../img/search-logo.svg");
    color: transparent;
    background-color: transparent;
    border: none;
    transform: translateY(3px);
}
.hero__about {
    padding-top: 63px;
    padding-bottom: 144px;
}
.hero__header {
    color: var(--color-white);
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: var(--color-white);
    max-width: 597px;  
    margin: 0; 
}
.hero__txt {
    color: var(--color-white);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin-top: -4px;
    max-width: 557px;
    margin-bottom: 116px;
}
.hero__btn {
    position: relative;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: var(--color-white);
    padding: 22.5px 35px;
    background-color: var(--color-violet-li);
    border-radius: 100px;
    border: none;
    transition: box-shadow .3s ease-in-out;
}
.hero__btn:hover:not(:focus):not(:active) {
    box-shadow: inset 0 0 0 3px var(--color-pink-li);
}
.hero__btn::before {
    position: absolute;
    content: "";
    width: 103.1847%;
    height: 112.85714%;
    top: -7.142857%;
    right: -1.592356%;
    border-radius: 100px;
    opacity: 0;
    box-shadow: inset 0 0 0 2px var(--color-pink);
    transition: opacity .2s ease-in-out;
}
.hero__btn:focus:not(:hover):not(:active)::before {
    opacity: 1;
}
.hero__btn:active {
    background-color: var(--color-violet);
    box-shadow: inset 0 0 0 3px var(--color-pink-li);
}
@media(max-width: 1042px) {
    .hero__about {
        padding-top: 105px;
        padding-bottom: 137px;
    }
    .hero__txt {
        margin-top: -10px;
        min-width: 661px;
        margin-bottom: 155px;
    }
}
@media(max-width: 785px) {
    .container {
        max-width: 706px;
        padding-left: 20px;
        padding-right: 20px;
    }
}